.news {
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
}

.news__img > img {
  border-radius: 20px;
}

.news__body {
  margin-left: 23px;
}

.news__body > p {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 25x;
  color: gray;
}
